<div class="container" style="padding-bottom: 20px; margin-top: 75px;">
  <div class="card">
    <div class="card-body">
      <h2 class="text-center text-primary">
        Procedimentos para Entrar na Vaga
      </h2>
      <ol class="list-group list-group-flush">
        <li class="list-group-item">Seta para a direita</li>
        <li class="list-group-item">Freio</li>
        <li class="list-group-item">Embreagem</li>
        <li class="list-group-item">Primeira marcha</li>
        <li class="list-group-item">Freio de mão</li>
        <li class="list-group-item font-weight-bold">OLHAR PARA FORA</li>
        <li class="list-group-item">
          Soltar o freio e deixar o carro ir até a baliza da esquerda sumir da
          janela de trás. Assim que sumir:
        </li>
        <li class="list-group-item">Freio</li>
        <li class="list-group-item">Marcha ré</li>
        <li class="list-group-item">Volante todo para a direita</li>
        <li class="list-group-item font-weight-bold">OLHAR PARA FORA</li>
        <li class="list-group-item">
          Ir dando ré até a terceira baliza ficar no meio do banco de trás do
          motorista.
        </li>
        <li class="list-group-item">
          Volante todo para a esquerda, Seta para a direita.
        </li>
        <li class="list-group-item font-weight-bold">OLHAR PARA FORA</li>
        <li class="list-group-item">
          Ir devagar só na embreagem até a baliza começar a aparecer no
          retrovisor do passageiro.
        </li>
        <li class="list-group-item">
          Assim que começar a aparecer, olhar para o retrovisor do meio e
          encostar tendo cuidado para não bater, depois embreagem e freio para
          parar.
        </li>
        <li class="list-group-item">
          Botar a primeira, alinhar o volante e chegar um pouco para frente para
          parar no meio da vaga.
        </li>
        <li class="list-group-item font-weight-bold">Encerramento:</li>
        <li class="list-group-item">Alinhar o volante.</li>
        <li class="list-group-item">Desligar a seta</li>
        <li class="list-group-item">Marcha neutra</li>
        <li class="list-group-item">Freio de mão</li>
        <li class="list-group-item">Tirar os pés dos pedais</li>
      </ol>
    </div>
  </div>
</div>
