<div class="container" style="padding-bottom: 20px; margin-top: 75px;">
  <div class="card">
    <div class="card-body">
      <h2 class="text-center text-primary">Procedimentos para Sair da Vaga</h2>
      <ol class="list-group list-group-flush">
        <li class="list-group-item">Seta para a esquerda</li>
        <li class="list-group-item">Freio</li>
        <li class="list-group-item">Embreagem</li>
        <li class="list-group-item">Marcha ré</li>
        <li class="list-group-item">Freio de mão</li>
        <li class="list-group-item font-weight-bold">OLHAR PARA FORA</li>
        <li class="list-group-item">
          Bem devagar só na embreagem chegar um pouco para trás até encostar na
          baliza, SEM BATER.
        </li>
        <li class="list-group-item">Embreagem</li>
        <li class="list-group-item">Freio</li>
        <li class="list-group-item">Primeira marcha</li>
        <li class="list-group-item">Volante todo para a esquerda.</li>
        <li class="list-group-item font-weight-bold">
          OLHAR PARA FORA (PARADO)
        </li>
        <li class="list-group-item">Ir saindo devagar.</li>
        <li class="list-group-item font-weight-bold">
          OLHAR PARA FORA (EM MOVIMENTO 1)
        </li>
        <li class="list-group-item font-weight-bold">
          OLHAR PARA FORA (EM MOVIMENTO 2)
        </li>
        <li class="list-group-item">
          Parar o carro até a baliza ficar um pouco depois do retrovisor do
          passageiro.
        </li>
        <li class="list-group-item">Volante todo para a direita</li>
        <li class="list-group-item font-weight-bold">
          OLHAR PARA FORA (PARADO)
        </li>
        <li class="list-group-item">
          Na embreagem, ir um pouco para frente até as três balizas de trás
          aparecerem e para o carro.
        </li>
        <li class="list-group-item font-weight-bold">Encerramento:</li>
        <li class="list-group-item">Alinhar o volante.</li>
        <li class="list-group-item">Desligar a seta.</li>
        <li class="list-group-item">Marcha neutra.</li>
        <li class="list-group-item">Freio de mão.</li>
        <li class="list-group-item">Tirar os pés dos pedais.</li>
      </ol>
    </div>
  </div>
</div>
